body {
   background-color: #F0ECE1;
}

a {
  color: #12ADA1;
  font-family: 'Roboto Condensed', sans-serif;
}

.white {
  color: white;
}

.white:hover {
  color: black;
}

h2, h3, h4 {
  color: #362B25;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 0;
}

.full-bg {
   background: url('../img/bg01.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   height: 100%;
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
}

.wordmark {
  height: 1.4em;
  width: auto;
}

.logo {
   max-width: 22em;
}

.search-container {
  background: #d1c19a;
}

.search-title {
  margin-top: 0;
}

#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

/* Search Items */

.item {
  background: white;
  margin-bottom: 1em;
}

.item-body {
  padding: 1em;
}

.user-container {
  position: absolute;
  bottom: 1.5em;
  right: 2em;
}

/**/

.img-container { width: 160px; height: 160px; overflow: hidden; }
.img-container img { max-width: 160px; }

.add-new {
  background-color: #8A3A30;
  border: none;
}

.add-icon {
  font-size: 6em;
  margin: 0.3em;
  color: #12ADA1;
}

.add-icon:hover {
  color: #D09B0B;
}

.btn-map {
  margin-top: -0.2em;
}

  .form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
      margin-top:50px;
  }
  .form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0,0,0);
    border-top:1px solid rgba(0,0,0,0.08);
  }
  .form-signin-heading {
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
  }

.btn-primary {
   color: #fff;
   background-color: #12ADA1;
   border-color: none;
}

.btn-primary:hover {
   background-color: #0e847a;
}

/* Registration */ 

.reg-con {
   margin-top: 2.5em;
}





